<a href="https://colab.research.google.com/github/Zulfatinnafisah/Basic-Python-Programming-for-Data-Science/blob/main/Perulangan_For_Zulfatin_Nafisah_2015015025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = int(input('masukkan nilai n:'))
for i in range (1,n):
  s=i
  print(s,end=" ")

masukkan nilai n:11
1 2 3 4 5 6 7 8 9 10

In [ ]:
n = int(input('masukkan nilai n:'))
for i in range (1,n):
  s=3*i
  print(s,end=" ")

masukkan nilai n:11
3 6 9 12 15 18 21 24 27 30

In [ ]:
n = int(input('masukkan nilai n:'))
for i in range (1,n):
  s=i+7
  print(s,end=" ")

masukkan nilai n:11
8 9 10 11 12 13 14 15 16 17

In [ ]:
n = int(input('masukkan nilai n:'))
for i in range (1,n):
  s=i*i
  print(s,end=" ")

masukkan nilai n:11
1 4 9 16 25 36 49 64 81 100