<a href="https://colab.research.google.com/github/Zulfatinnafisah/Basic-Python-Programming-for-Data-Science/blob/main/Salinan_dari_Zulfatin_Nafisah_2015015025__Tugas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dataset

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/jokoeliyanto/Kelas-Dasar-Pejuang-Data-2.0/main/Super-Store-Dataset.csv")
df.head()

         order_id  order_date customer_id  ...     sales quantity    profit
0  CA-2016-152156   11/8/2016    CG-12520  ...  261.9600        2   41.9136
1  CA-2016-152156   11/8/2016    CG-12520  ...  731.9400        3  219.5820
2  CA-2016-138688   6/12/2016    DV-13045  ...   14.6200        2    6.8714
3  US-2015-108966  10/11/2015    SO-20335  ...  957.5775        5 -383.0310
4  US-2015-108966  10/11/2015    SO-20335  ...   22.3680        2    2.5164

[5 rows x 9 columns]

## Variabel dataset

Variabel-variabel yang terdapat pada dataset ini adalah sebagai berikut:
1. **order_id** = Nomor ID pembelian(nota)
2. **order_data** = Tanggal pembelian
3. **customer_id** = Nomor ID pembeli
4. **segment** = Segmen produk 
5. **category** = Kategori produk
6. **sub_category** = Sub kategori produk
7. **sales** = Total harga pembelian
8. **quantity** = Jumlah produk dibeli
9. **profit** = Keuntungan

#Tugas Individu


1. Tentukan Segment mana dengan profit tertinggi!  [30]
2. Tentukan Category mana dengan sales terbanyak!  [30]
3. Tentukan Sub-Category dengan quantity paling sedikit! [40]





4. **Challange Question!!!  Tentukan Bulan dengan Profit Tertinggi!!!** 

Bonus Nilai 100 di Salah Satu Tugas Lainnya

##1. Tentukan Segment mana dengan profit tertinggi!

In [ ]:
max_profit=df['profit'].max()
df['segment'].iloc[df.index[df['profit']==max_profit].tolist()]

9033    Consumer
Name: segment, dtype: object

jadi,profit tertinggi terdapat pada segment consumer

##2. Tentukan Category mana dengan sales terbanyak!

In [ ]:
max_sales=df['sales'].max()
df['category'].iloc[df.index[df['sales']==max_sales].tolist()]

9033    Office Supplies
Name: category, dtype: object

jadi, sales tertinggi terdapat pada category office supplies

##3. Tentukan Sub-Category dengan quantity paling sedikit!

In [ ]:
min_quantity=df['quantity'].min()
df['sub_category'].iloc[df.index[df['quantity']==min_quantity].tolist()]

52           Chairs
61              Art
70          Binders
74          Storage
79       Appliances
           ...
9958    Furnishings
9959          Paper
9974         Tables
9980    Accessories
9981    Accessories
Name: sub_category, Length: 899, dtype: object

jadi, karena banyak sub category dengan category yang sama, maka tidak dapat diambil kesimpulan untuk sub category dengan quantity paling sedikit

##4. Challange Question!!! Tentukan Bulan dengan Profit Tertinggi!!!

In [ ]:
max_profit=df['profit'].max()
df['order_date'].iloc[df.index[df['profit']==max_profit].tolist()]

9033    12/17/2016
Name: order_date, dtype: object

jadi,profit tertinggi terdapat pada bulan desember