<a href="https://colab.research.google.com/github/Zulfatinnafisah/Basic-Python-Programming-for-Data-Science/blob/main/Type_data_Zulfatin_Nafisah_2015015025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Selamat pagi")
X = "We are happy"
print("Selamat pagi",X)

Selamat pagi
Selamat pagi We are happy

In [ ]:
#type data string
a="Selamat Belajar"
print(a)
print(type(a))

Selamat Belajar
<class 'str'>

In [ ]:
#type data integer
x= 270602
print(x)
print(type(x))

270602
<class 'int'>

In [ ]:
#type data float
b= 0.2345
print(b)
print(type(b))

0.2345
<class 'float'>

In [ ]:
#type data compleks number
y = 5j + 2
print(y)
print(type(y))

(2+5j)
<class 'complex'>

In [ ]:
#type data boolean
c= True
print(c)
print(type(c))

True
<class 'bool'>

In [ ]:
#type data list
z=["satu","dua" ,"tiga", "empat"]
print(z)
print(type(z))

['satu', 'dua', 'tiga', 'empat']
<class 'list'>

In [ ]:
#type data tuple
d=("satu","dua" ,"tiga", "empat")
print(d)
print(type(d))

('satu', 'dua', 'tiga', 'empat')
<class 'tuple'>

In [ ]:
#type data set
e={"satu","dua" ,"tiga", "empat"}
print(e)
print(type(e))

{'dua', 'tiga', 'satu', 'empat'}
<class 'set'>

In [ ]:
#type data dictionary
f= {1:"satu",2:"dua" ,3:"tiga", 4:"empat"}
print(f)
print(type(f))

{1: 'satu', 2: 'dua', 3: 'tiga', 4: 'empat'}
<class 'dict'>