<a href="https://colab.research.google.com/github/Zulfatinnafisah/Basic-Python-Programming-for-Data-Science/blob/main/Zulfatin_Nafisah_2015015025_Mini_Projek_Kelas_Dasar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##MINI PROJEK [A]

# Fungsi "Pos_Neg_Nol"

In [ ]:
x = int(input("masukkan bilangan x = "))
if x>0:
  print(x,"adalah bilangan positif")
elif x==0:
  print(x,"nol")
else:
  print(X,"adalah bilangan negatif")

masukkan bilangan x = 4
4 adalah bilangan positif

# Fungsi "Mahal_Diskon"

In [ ]:
jumlah = int(input("Masukkan jumlah barang  = "))
harga = int(input("Masukkan harga barang = "))
total = (jumlah * harga)
print("Jumlah Total = " , total)

if total >= 350000:
  diskon = total * (40/100)
  print("Kamu Dapat Diskon 40%")
elif total >= 300000:
  diskon = total * (20/100)
  print("Kamu Dapat Diskon 20%") 
elif total >= 200000:
  diskon = total * (10/100)
  print("Kamu Dapat Diskon 10%")
else:
  diskon = total * (0/100)
  print ("Maaf Kamu Belum Dapat Diskon")

harga_diskon = total - diskon
if harga_diskon > 200000:
  print("Mahal")
else:
  print("Murah")
print("Harga yang perlu dibayarkan = " , harga_diskon)

Masukkan jumlah barang  = 25
Masukkan harga barang = 300000
Jumlah Total =  7500000
Kamu Dapat Diskon 40%
Mahal
Harga yang perlu dibayarkan =  4500000.0

##MINI PROJEK [B]

In [ ]:
import pandas as pd
import numpy as np
data = {'Bilangan':[1,-11,112],
        'Genap/Ganjil' : ['Ganjil','Ganjil','Genap'],
        'Pos/Neg/Nol' :['Positif','Negatif','Positif'],
        'Satuan/Ratusan,Ribuan': ['Satuan','Puluhan','Ratusan']}
df = pd.DataFrame(data)
df

   Bilangan Genap/Ganjil Pos/Neg/Nol Satuan/Ratusan,Ribuan
0         1       Ganjil     Positif                Satuan
1       -11       Ganjil     Negatif               Puluhan
2       112        Genap     Positif               Ratusan