<a href="https://colab.research.google.com/github/Zulfatinnafisah/Basic-Python-Programming-for-Data-Science/blob/main/Zulfatin_Nafisah_2015015025_Mini_Projek_C_Tantangan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#MINI PROJEK C [TANTANGAN]

In [1]:
import pandas as pd
import numpy as np

####Mencari Batas Bawah

In [2]:
x = 0.26667
z =[]
while x <= 2:
  x = x + 0.33333
  z.append(x)
print(z)

[0.6000000000000001, 0.9333300000000001, 1.2666600000000001, 1.59999, 1.9333200000000001, 2.2666500000000003]

####Mencari Batas Atas

In [3]:
a=0.6
b=[]
while a < 2.5:
  a = a + 0.33333
  b.append(a)

b[5] = 2.60000
print(b)

[0.93333, 1.26666, 1.59999, 1.9333200000000001, 2.2666500000000003, 2.6]

####Mencari Nilai Tengah

In [4]:
p = np.add(z,b)
q = p/2
q

array([0.766665, 1.099995, 1.433325, 1.766655, 2.099985, 2.433325])

In [5]:
list1 = ["U1","U2","U3","U4","U5","U6" ]
dict1 = {"Nama Kelas":list1,  "Batas Bawah":z, "Batas Atas":b, "Nilai Tengah":q}
df = pd.DataFrame(dict1)
df

  Nama Kelas  Batas Bawah  Batas Atas  Nilai Tengah
0         U1      0.60000     0.93333      0.766665
1         U2      0.93333     1.26666      1.099995
2         U3      1.26666     1.59999      1.433325
3         U4      1.59999     1.93332      1.766655
4         U5      1.93332     2.26665      2.099985
5         U6      2.26665     2.60000      2.433325